<!DOCTYPE html>
<html lang="en" ng-app="fractalApp">
<head>
    <meta charset="UTF-8">
    <title>Fractals</title>
    <link rel="stylesheet" href="css/plugin/normalize.css">
    <link rel="stylesheet" href="css/plugin/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugin/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/plugin/jquery-2.1.1.min.js"></script>
    <script src="js/plugin/jquery.serialize-object.js"></script>
    <script src="js/plugin/nanobar.min.js"></script>
    <script src="js/plugin/yaml.js"></script>
    <script src="js/plugin/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div id="nanobar" class="nanobar"></div>
    <canvas id="canvas" class="canvas" width="2000" height="2000" hidden></canvas>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="text-center title">Fractals</h1>
                    </div>
                    <div ng-controller="FractalController">
                        <div class="row">
                            <div class="input-group">
                                <select class="form-control" name="fractal-select" id="fractalSelect" 
                                        ng-model="fractal" ng-options="f.name for f in fractals">
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="draw"
                                            ng-click="drawFractal();">
                                        <i class="glyphicon glyphicon-play"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-center">Preferences</h3>
                        </div>
                        <form action="#" ng-repeat="f in fractals"
                              ng-show="isPreferencesVisible({{f.number}});" id="preferences{{f.number}}"
                              name="preferences{{f.number}}">
                            <div class="row">
                                <div class="form-group" ng-repeat="pref in f.preferences">
                                    <label for="{{pref.name}}">{{pref.label}}</label>
                                    <input class="form-control" type="text" name="{{pref.name}}"
                                           id="{{pref.name}}" value="{{pref.value}}"
                                           ng-required="isRequired(pref);">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="text-center">Preview</h3>
                    </div>  
                    <div class="row">
                        <img class="img-responsive center-block" id="preview" src="#" width="500" height="500">
                    </div>
                    <div class="row text-center">
                        <a href="#" id="download">Download full size</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/common.js"></script>
    <script src="js/canvas.js"></script>
    <script src="js/graphics.js"></script>
    <script src="js/processor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>